@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 300px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url("./../img/Group 17.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: #FFFFFF;
}

.header__top {
  padding-top: 47px;
  display: flex;
  justify-content: space-between;
}
.header__top .header-tel a {
  font-weight: 400px;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__content {
  position: relative;
}
.header__content .header__title {
  font-weight: 400px;
  font-size: 72px;
  text-transform: uppercase;
  padding-top: 105px;
  line-height: 107px;
}
.header__content .header__subtitle {
  font-weight: 400px;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}
.header__content .header__text {
  font-size: 18px;
  padding: 30px 0;
}
.header__content .header__btn {
  padding: 15px 55px 15px;
  background-color: #5A0D67;
  display: inline-block;
  transition: 0.8s;
}
.header__content .header__btn:hover {
  background-color: #FFFFFF;
}
.header__content .header__btn:hover span {
  color: #5A0D67;
}
.header__content .header__btn span {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.8s;
}
.header__content .footer-links {
  padding: 70px 0 20px 65px;
  display: flex;
  align-items: center;
}
.header__content .footer-links a {
  padding-left: 10px;
}
.header__content .header__img {
  position: absolute;
  right: 0;
  bottom: -285px;
}

.services {
  background: #E5E5E5;
}

.services__title {
  font-weight: 400px;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #21062A;
  padding: 300px 0 50px 0;
  position: relative;
}
.services__title::before {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #21062A;
  position: absolute;
  right: 900px;
  top: 320px;
}

.services__item {
  display: flex;
}
.services__item .item__column1 .item__box1 .box1__title {
  font-size: 18px;
  line-height: 27px;
  color: #5A0D67;
  padding-bottom: 20px;
}
.services__item .item__column1 .item__box1 .box1__text {
  font-size: 18px;
  color: #2C2B2B;
  padding-bottom: 70px;
  max-width: 540px;
  line-height: 27px;
}
.services__item .item__column1 .item__box2 .box1__title {
  font-size: 18px;
  line-height: 27px;
  color: #5A0D67;
  padding-bottom: 20px;
}
.services__item .item__column1 .item__box2 .box2__text {
  font-size: 18px;
  color: #2C2B2B;
  padding-bottom: 50px;
  max-width: 540px;
  line-height: 27px;
}
.services__item .item__column1 .header__btn {
  padding: 15px 55px 15px;
  background-color: #5A0D67;
  display: inline-block;
  transition: 0.8s;
  position: relative;
}
.services__item .item__column1 .header__btn:hover {
  background-color: #FFFFFF;
}
.services__item .item__column1 .header__btn:hover span {
  color: #5A0D67;
}
.services__item .item__column1 .header__btn::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #C4C4C4;
  position: absolute;
  right: -65px;
  top: 24px;
}
.services__item .item__column1 .header__btn::after {
  content: "ЖМИ";
  color: #C4C4C4;
  margin-left: 130px;
  position: absolute;
}
.services__item .item__column1 .header__btn span {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.8s;
}

.item__column2 {
  counter-reset: my-counter;
  list-style: none;
  padding-left: 100px;
}
.item__column2 .services__items {
  counter-increment: my-counter;
  border: 2px solid #C4C4C4;
  margin-bottom: 12px;
  width: 450px;
  position: relative;
  padding: 10px 15px 10px 113px;
  transition: all 0.5s;
}
.item__column2 .services__items:hover {
  border: 2px solid #5A0D67;
  width: 500px;
}
.item__column2 .services__items:hover::before {
  color: #5A0D67;
}
.item__column2 .services__items:hover .services-item__title {
  color: #5A0D67;
}
.item__column2 .services__items::before {
  content: "0" counter(my-counter);
  left: 20px;
  position: absolute;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400px;
  color: #C4C4C4;
  transform: rotate(270deg);
  transition: all 0.5s;
}
.item__column2 .services__items .services-item__title {
  font-size: 24px;
  line-height: 36px;
  color: #2C2B2B;
}
.item__column2 .services__items .servisec-item__text {
  font-size: 18px;
  line-height: 27px;
  color: #2C2B2B;
}

.why {
  background: #E5E5E5;
  padding-top: 100px;
  padding-bottom: 100px;
}

.why__items {
  display: flex;
  justify-content: space-between;
}
.why__items .why__img {
  padding-right: 95px;
}
.why__items .why-items__text .why-items__why {
  font-weight: 400px;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #21062A;
  padding-bottom: 50px;
  padding-left: 180px;
  width: 780px;
  position: relative;
}
.why__items .why-items__text .why-items__why::before {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #21062A;
  position: absolute;
  right: 300px;
  top: 22px;
}
.why__items .why-items__text .why__why-why {
  background-color: #21062A;
  padding-left: 185px;
  padding-right: 280px;
}
.why__items .why-items__text .why__why-why .items__text-title {
  font-weight: 400px;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 20px;
}
.why__items .why-items__text .why__why-why .items__text-subtitle {
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}
.why__items .why-items__text .why__why-why .items__text-text {
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
  max-width: 350px;
}

.pad {
  padding-bottom: 40px;
}

.carousel {
  padding-top: 100px;
  background-color: #E5E5E5;
}

.carousel__item-box {
  border: 1px solid #C4C4C4;
  padding: 6px 6px 16px 6px;
  margin: 0 7px;
  text-align: center;
  transition: all 0.5s;
}

.carousel__inner {
  margin: 0 -7px;
}

.carousel__item-img {
  max-width: 100%;
  margin-bottom: 23px;
}

.carousel__item-title {
  margin-bottom: 5px;
}

.carousel__item-box:hover {
  background-color: #5A0D67;
  color: #FFFFFF;
  border-color: #5A0D67;
}

.carousel .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
}

.carousel .slick-dots button {
  font-size: 0px;
  border: none;
  padding: 0;
  margin: 0 10px;
  background-color: #C4C4C4;
  width: 50px;
  height: 1px;
}

.carousel .slick-active button {
  background-color: #5A0D67;
  height: 3px;
}

.title {
  font-weight: 400px;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #21062A;
  position: relative;
  padding-bottom: 50px;
}
.title::before {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #21062A;
  position: absolute;
  right: 725px;
  top: 22px;
}

.contacts {
  padding-top: 150px;
  background: #E5E5E5;
}

.contact__item {
  display: flex;
  justify-content: space-between;
}
.contact__item .item__info .info__title {
  font-weight: 400px;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #21062A;
  padding-bottom: 30px;
  position: relative;
}
.contact__item .item__info .info__title::before {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #21062A;
  position: absolute;
  right: -35px;
  top: 22px;
}
.contact__item .item__info .info__text {
  font-size: 18px;
  line-height: 27px;
  padding-top: 20px;
  max-width: 200px;
}
.contact__item .item__info .info__text span {
  color: #5A0D67;
}
.contact__item .item__form {
  background-color: #21062A;
  padding: 50px 150px 57px;
  text-align: center;
}
.contact__item .item__form .form__text {
  font-weight: 400px;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 50px;
  padding-left: 60px;
  padding-bottom: 20px;
  position: relative;
  text-align: left;
}
.contact__item .item__form .form__text::before {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  right: 45px;
  top: 74px;
}

.contacts__input {
  background-color: transparent;
  width: 450px;
  height: 75px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  margin-bottom: 12px;
  display: block;
  font-size: 24px;
  padding: 0 15px;
}
.contacts__input::-moz-placeholder {
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}
.contacts__input::placeholder {
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}

.button {
  border: none;
  color: #FFFFFF;
  margin-top: 78px;
  cursor: pointer;
  background-color: #5A0D67;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 15px 73px;
}

.abc {
  padding-bottom: 57px;
}

.footer {
  flex: 0 0 auto;
  background-color: #21062A;
}

.footer__item {
  display: flex;
  justify-content: space-between;
}
.footer__item .footer-logo {
  padding: 24px 0;
}
.footer__item .footer-link {
  padding: 40px 0 34px 0;
}
.footer__item .footer-link a {
  padding-left: 10px;
}
.footer__item .footer-politic {
  padding: 37px 0;
}
.footer__item .footer-politic a {
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */