@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

$white: #FFFFFF;
$firm: #21062A;
$accent: #5A0D67;
$grey: #C4C4C4;
$black: #2C2B2B;
$reg: 400px;

body{
    font-family: "Oswald", sans-serif;
    font-weight: 300px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    background-image: url("./../img/Group 17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 700px;
    color: $white;
}
.header__top{
    padding-top: 47px;
    display: flex;
    justify-content: space-between;
    .header-tel{
        a{
            font-weight: $reg;
            font-size: 36px;
            line-height: 53px;
            text-transform: uppercase;
            color: $white;
        }
    }
}
.header__content{
    position: relative;
    .header__title{
        font-weight: $reg;
        font-size: 72px;
        text-transform: uppercase;
        padding-top: 105px;
        line-height: 107px;
    }
    .header__subtitle{
        font-weight: $reg;
        font-size: 36px;
        line-height: 53px;
        text-transform: uppercase;
    }
    .header__text{
        font-size: 18px;
        padding: 30px 0;
    }
    .header__btn{
        padding: 15px 55px 15px;
        background-color: $accent;
        display: inline-block;
        transition: 0.8s;
        &:hover{
            background-color: $white;
            span{
                color: $accent;
            }
        }
        span{
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            color: $white;
            transition: 0.8s;
        }
    }
    .footer-links{
        padding: 70px 0 20px 65px;
        display: flex;
        align-items: center;
        a{
            padding-left: 10px;
        }
    }
    .header__img{
        position: absolute;
        right: 0;
        bottom: -285px;
    }
}
.services{
    background: #E5E5E5;
}
.services__title{
    font-weight: $reg;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: $firm;
    padding: 300px 0 50px 0;
    position: relative;
    &::before{
        content: '';
        width: 80px;
        height: 3px;
        background-color: $firm;
        position: absolute;
        right: 900px;
        top: 320px;
    }
}
.services__item{
     display: flex;
    .item__column1{
        .item__box1{
            .box1__title{
                font-size: 18px;
                line-height: 27px;
                color: $accent;
                padding-bottom: 20px;
            }  
            .box1__text{
                font-size: 18px;
                color: $black;
                padding-bottom: 70px;
                max-width: 540px;
                line-height: 27px;
            }
        }
        .item__box2{
            .box1__title{
                font-size: 18px;
                line-height: 27px;
                color: $accent;
                padding-bottom: 20px;
            }  
            .box2__text{
                font-size: 18px;
                color: $black;
                padding-bottom: 50px;
                max-width: 540px;
                line-height: 27px;
            }
        }
        .header__btn{
            padding: 15px 55px 15px;
            background-color: $accent;
            display: inline-block;
            transition: 0.8s;
            position: relative;
            &:hover{
                background-color: $white;
                span{
                    color: $accent;
                }
            }
            &::before{
                content: '';
                width: 80px;
                height: 2px;
                background-color: $grey;
                position: absolute;
                right: -65px;
                top: 24px;
            }
            &::after{
                content: 'ЖМИ';
                color: $grey;
                margin-left: 130px;
                position: absolute;
            }
            span{
                font-size: 14px;
                line-height: 21px;
                text-transform: uppercase;
                color: $white;
                transition: 0.8s;
            }
        }
    }
}

.item__column2{
    counter-reset: my-counter;
    list-style: none;
    padding-left: 100px;
    .services__items{
        counter-increment: my-counter;
        border: 2px solid $grey;
        margin-bottom: 12px;
        width: 450px;
        position: relative;
        padding: 10px 15px 10px 113px;
        transition: all .5s;
        &:hover{
            border: 2px solid #5A0D67;
            width: 500px;
            &::before{
                color: $accent;
            }
            .services-item__title{
                color: $accent;
            }
        }
        &::before{
            content: '0' counter(my-counter);
            left: 20px;
            position: absolute;
            font-size: 36px;
            line-height: 54px;
            font-weight: $reg;
            color: $grey;
            transform: rotate(270deg);
            transition: all .5s;
        }
        .services-item__title{
            font-size: 24px;
            line-height: 36px;
            color: $black;
        }
        .servisec-item__text{
            font-size: 18px;
            line-height: 27px;
            color: $black;
        }
    }
}
.why{
    background: #E5E5E5;
    padding-top: 100px;
    padding-bottom: 100px;
}
.why__items{
    display: flex;
    justify-content: space-between;
    .why__img{
        padding-right: 95px;
    } 
    .why-items__text{
        .why-items__why{
            font-weight: $reg;
            font-size: 36px;
            line-height: 53px;
            text-transform: uppercase;
            color: $firm;
            padding-bottom: 50px;
            padding-left: 180px;
            width: 780px;
            position: relative;
            &::before{
                content: '';
                width: 80px;
                height: 3px;
                background-color: $firm;
                position: absolute;
                right: 300px;
                top: 22px;
            }
        }
        .why__why-why{
            background-color: $firm ;
            padding-left: 185px;
            padding-right: 280px;
            .items__text-title{
                font-weight: $reg;
                font-size: 36px;
                line-height: 53px;
                text-transform: uppercase;
                color: $white;
                padding-top: 20px;
            }
            .items__text-subtitle{
                font-size: 24px;
                line-height: 36px;
                color: $white;
            }
            .items__text-text{
                font-size: 18px;
                line-height: 27px;
                color: $grey;
                max-width: 350px;
            }
        }
    }
}
.pad{
    padding-bottom: 40px;
}
.carousel{
    padding-top: 100px;
    background-color: #E5E5E5;
}
.carousel__item-box{
    border: 1px solid $grey;
    padding: 6px 6px 16px 6px;
    margin: 0 7px;
    text-align: center;
    transition: all .5s;
}
.carousel__inner{
    margin: 0 -7px;
}
.carousel__item-img{
    max-width: 100%;
    margin-bottom: 23px;

}
.carousel__item-title{
    margin-bottom: 5px;
}
.carousel__item-box:hover{
    background-color: $accent;
    color: $white;
    border-color: $accent;
}
.carousel .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}
.carousel .slick-dots button{
    font-size: 0px;
    border: none;
    padding: 0;
    margin: 0 10px;
    background-color: $grey;
    width: 50px;
    height: 1px;
}
.carousel .slick-active button{
    background-color: $accent;
    height: 3px;
}
.title{
    font-weight: $reg;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: $firm;
    position: relative;
    padding-bottom: 50px;
    &::before{
        content: '';
        width: 80px;
        height: 3px;
        background-color: $firm;
        position: absolute;
        right: 725px;
        top: 22px;
    }
}

.contacts{
    padding-top: 150px;
    background: #E5E5E5;
}
.contact__item{
    display: flex;
    justify-content: space-between;
    .item__info{
        .info__title{
            font-weight: $reg;
            font-size: 36px;
            line-height: 53px;
            text-transform: uppercase;
            color: $firm;
            padding-bottom: 30px;
            position: relative;
            &::before{
                content: '';
                width: 80px;
                height: 3px;
                background-color: $firm;
                position: absolute;
                right: -35px;
                top: 22px;
            }
        }
        .info__text{
            font-size: 18px;
            line-height: 27px;
            padding-top: 20px;
            max-width: 200px;
            span{
                color: $accent;
            }
        }
    }
    .item__form{
        background-color: $firm;
        padding: 50px 150px 57px;
        text-align: center;
        .form__text{
            font-weight: $reg;
            font-size: 36px;
            line-height: 53px;
            text-transform: uppercase;
            color: $white;
            padding-top: 50px;
            padding-left: 60px;
            padding-bottom: 20px;
            position: relative;
            text-align: left;
            &::before{
                content: '';
                width: 80px;
                height: 3px;
                background-color: $white;
                position: absolute;
                right: 45px;
                top: 74px;
            }
        }
    }
}
.contacts__input{
    background-color: transparent;
    width: 450px;
    height: 75px;
    color: $white;
    border: 1px solid $white;
    margin-bottom: 12px;
    display: block;
    font-size: 24px;
    padding: 0 15px;
    &::placeholder{
        text-align: center;
        font-size: 18px;
        line-height: 27px;
        color: $grey;
    }
}
.button{
    border: none;
    color: $white;
    margin-top: 78px;
    cursor: pointer;
    background-color: $accent;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 15px 73px;
}
.abc{
    padding-bottom: 57px;
}
.footer {
    flex: 0 0 auto;
    background-color: $firm;
}
.footer__item{
    display: flex;
    justify-content: space-between;
    .footer-logo{
        padding: 24px 0;
    }
    .footer-link{
        padding: 40px 0 34px 0;
        a{
            padding-left: 10px;
        }
    }
    .footer-politic {
        padding:37px 0;
        a{
            font-size: 18px;
            line-height: 27px;
            color: $white;
        }
    }
}